body {
  background: url("../../assets/girl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-opacity: 0.2;

  #app {
    background-color: rgba(255, 255, 255, .9);
  }
}

